@CHARSET "ISO-8859-1";

.simply-hidden {
	display: none;	
}

.owl-item .item img {
    width: 100%;
}

#volunteerVeil {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.7);
	z-index: 1050;
}

#volunteerVeil img {
	margin-top: 200px;

	-webkit-animation: myfirst 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction : alternate;
	-webkit-animation-play-state : running;
	animation: myfirst 2s;
	animation-iteration-count: infinite;
	animation-direction : alternate;
	animation-play-state : running;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    0%   {opacity: 1;}
    100% {opacity: 0.3;}
}

/* Standard syntax */
@keyframes myfirst {
    0%   {opacity: 1;}
    100% {opacity: 0.3;}
}

footer a {
	text-decoration: underline;
}

.step-one .btn {
    font-size: 24px;
}

.step-identity label {
    text-align: left;
    display: block;
}

label .required {
	color: red;
	
}

.btn-primary.active {
	background-color: #e6c865;
	border-color: #e2c04f;
}

.btn-primary.active:hover {
	background-color: #e0bb42;
	border-color: #d2a922;
}

@media (min-width: 767px) {
	.dropdown-menu {
		background-color: #000000;
		min-width: 395px;	
	}

	.dropdown > a {
		display: inline-block; 
		width: 135px; 
		margin-top: -2px;
	}

	.dropdown > a > span {
		display: inline-block; 
		width: 60px; 
		text-align: right; 
	}

}